/* $red: #F94F4F;
$hoverRed:#FF9393;

$hoverBgBlack:#434356;
$black:#000;
$white:#fff;
 */
$bgBlack:#191B20;
$black:#000;
$bgHeader:#141517;
$red:#CC0000;
$hoverRed:#ff5353;
$white:#fff;
$grey:#B8B8B8;
$fontBody:'Inter',sans-serif;
$fontHeader: 'Inria Sans',sans-serif;
$tablet:768px;
$laptop:1250px;